<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="container bg-success row-cols-4">
        <h1 class="login-heading">Login</h1>
        <form action="" method="post" class="container">
            <div class="row g-3 align-items-center">
                <label for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" required>
            </div>

            <div class="row g-3 align-items-center">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" required>
            </div>

            <br/>

            <div class="align-content-between">
                <input type="submit" value="OK" name="login">
                <input type="reset" value="Reset">
            </div>

            <br/>
        </form>
    </div>
</body>
</html>